apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mcp-kroki.fullname" . }}
  labels:
    {{- include "mcp-kroki.labels" . | nindent 4 }}
data:
  kroki-url: {{ include "mcp-kroki.krokiUrl" . | quote }}
  host: {{ .Values.config.host | quote }}
  port: {{ .Values.config.port | quote }}
